<!DOCTYPE html>
<html>
<head>
    <title>관리자 회원가입</title>
</head>
<body>
<form action="/admin/register" method="post">

    <table>
        <tr>
            <td><h2>관리자 이메일</h2>
                <input type="text" name="admin_email" id="admin_email" placeholder="이메일 입력">
            </td>
        </tr>
        <tr>
            <td><h4>비밀번호</h4>
                <input type="password" name="admin_pw" id="admin_pw" placeholder="비밀번호 입력">
        </tr>
        <tr>

            <td><input type="submit" value="관리자 등록"></td>
        </tr>
    </table>

</form>
</body>
</html>